body{
  font-style: sans-serif;
}

/* utility */
.mr_20{
  margin-right: 20px;
}
.mt_20{
  margin-top: 20px;
}
.pr_1{
  padding-right: 1rem;
}
.pl_1{
  padding-left: 1rem;
}
.pt_20{
  padding-top: 20px;
}
.lighter {
  font-weight: 200;
}
/* /utility */

/* header */
header{
  height: 500px;
  color: white;
  position: relative;
  background-image: url(../img/hero-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 300px rgba(0,0,0,0.4);
}
header img{
  width: 150px;
}

.header_logo{
  text-transform: uppercase;
  font-size: 20px;
}

header a{
  color: white;
}
nav{
  height: 80px;
  line-height: 80px;
}
nav a{
  padding: 0 10px;
}
.header_menu{
  text-align: right;
}
.list_inline li{
  list-style: none;
  display: inline-block;
}
a{
  text-decoration: none;
}
.header_menu, .header_langs{
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
}
.header_langs li:not(:first-child) a{
  border-left: 1px solid white;
  margin-left: 10px;
}
.hero_text{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero_text h1{
  font-size: 2.5rem;
}
.hero_text p{
  margin: 20px 0 30px 0;
}
.hero_text img{
  height: 150px;
}
/* /header */

/* main */
#models{
  padding: 5rem;
}
#models .card{
  text-align: center;
  background-color: #fafafa;
}
#models .card h2{
  padding: 80px 15px 0;
}
#models .card p{
  padding: 20px;
  font-size: 24px;
  line-height: 24px;
}
#models .card a{
  color: #0070c8;
}
#models .card img{
width: 100%;
}

.banner{
  height: 500px;
  background-image: url(../img/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 7%;
  min-width:1170px;
}

#slider .container{
  min-width: 1500px;
}
#slider .col-lg-4:nth-child(2){
  text-align: center;
  height: 175px;
}
#slider .col-lg-4 img{
  height: 500px;
  transform: translateY(-65%)
}
#slider h2{
  font-size: 32px;
  padding-top: 30px;
  width: 70%;
  margin-left: 30%;
}
#slider h3{
  font-size: 1.25rem;
  padding: 30px 0 15px;
  width: 70%;
}
/* /main */
